{
    "interval": "1h",
    "http_timeout_sec": 3,
    "candle_close_timeout_sec": 12,
    "trade_type": "usdt_spot",
    "num_candles": 10000,
    "dingding": {
        "error": {
            "access_token": "bcd2...",
            "secret": "SEC5..."
        }
    }
}