{
    "interval": "1h",
    "trade_type": "usdt_perp",
    "funding_rate": true,
    "num_candles": 10000,
    "dingding": {
        "error": {
            "access_token": "f06e5.....",
            "secret": "SEC439...."        
        }
    }
}