{
    "interval": "5m",
    "trade_type": "coin_perp",
    "funding_rate": true,
    "num_candles": 1000,
    "dingding": {
        "error": {
            "access_token": "f06...",
            "secret": "SEC439..."
        }
    }
}